// 变量列表
$font-normal=rgba(255,255,255,.65);

// 函数列表
border-linear(from, to)
  box-sizing border-box
  border 1px solid; /*px*/
  border-image linear-gradient(90deg, from, to)
  border-image-slice 1

bg-linear(from, to)
  background linear-gradient(90deg, from, to)
